*{
	margin: 0;
	padding: 0;
	font-family: $tipo_letra_nav;
}

h3 {
	font-family: 'Satisfy', cursive;
}

h5 {
	font-weight: 700;
}

h6 {
	font-size: 20px;
}

.mi-nav {
	background-color: #86DDB2;
	padding-right: 2%;
	a {
		color: #131313f0;
	    font-size: 23px;
	    padding-left: 5%;
	}
	.logo {
	    position: relative;
	    bottom: -57px;
	    left: 3%;
	    width: 35%;
	}
}

.contenedor-principal {
	height: auto;
	background-color: #86DDB2;
}

.contenedor-secundario {
	height: auto;
	width: 95%;
	background-color: whitesmoke;
	.foto-perfil {
		width: 19%;
		margin-left: 40%;
		margin-top: 5%;
	}
	p {
		font-size: 22px;
		padding: 10%;
		padding-top: 0%;
		font-weight: 500;
	}
}

.habilidades {
	height: 100vh;
	h3 {
		margin-top: 3%;
		margin-bottom: 5%;
    	position: relative;
	}
	.iconos {
	font-size: 70px;
	border-style: solid;

	}

	.iconos:hover {
		font-size: 75px;
		border-style: dashed;
	}

	.mas-abajo {
		margin-top: 95px;
	}

	.intermedio {
		margin-top: 60px;
	}
}

.portafolio {
	h3 {
		margin-top: 3%;
		margin-bottom: 5%;
	}
	h5 {
		text-decoration: underline;
	}
	.img-portafolio {
	    width: 80%;
	}
	.marco {
		height: 503px;
	    border-style: solid;
	    border-width: 3px;
	    border-color: #2020202b;
	    margin: 1%;    
	    p {
	    	font-size: 20px;
			font-weight: 300;
	    	color: whitesmoke;
	    	padding: 0px;
	    }
	    a {
	    	color: #202020;
	    	font-size: 20px;
	    	font-weight: 700;
	    }

	    .demo {
	    	background-color: #86ddb2;
		    color: #428664;
		    border-radius: 7%;
		    padding: 0%;
		    width: 15%;
		    height: 6%;
			}
		}
	.marco:hover {
		p {
			font-size: 20px;
			color: #202020;
		}
		
	}
	.position { 
		padding-left: 50px;
	}
	.position-opuesto {
		padding-right: 50px;
	}

}

.mi-btn {
    background-color: #000000;
    color: whitesmoke;
    margin-bottom: 3%;
}

.img-logos {
	width: 12%;
	margin-right: 10px;
    margin-left: 10px;
}

@include lineas();




/*500 medio minuto fadein("slow") fadeout */









