*{
	margin: 0;
	padding: 0;
	font-family: $tipo_letra_nav;
}

.primer-color{
	background-color: $b_color_nav;
	height: 15px;
}
body{
	background-color: #e5e2d3;
}

.contenedor-principal{
	height: auto;
	.foto-perfil{
		width: 62vh;
		height: 65vh;
	}
	h1{
		font-size: 94px;
	    color: $b_color_nav;
	}
}

.flecha{
	font-size: 50px;
	color: $b_color_nav;
	transition: all 30s ease-in;
}

@include contenedor-lineas();

.contenedor-info{
	@include titulos();
	p{
		font-family: 'PT Sans', sans-serif;
		font-size: 20px;
	}
}

.contenedor-herramientas{
	@include contenedor-segundas-lineas();
	@include titulos();
}

.contenedor-pug{
	width: 100%;
	.pug{
		width: 370%;
	    margin-left: -111px;
	}
	@media (max-width: 425px){
		.pug{
			width: 120%;
			margin-left: -3px;
		}
	}
}

.contenedor-icono{
    background-color: $b_color_nav;
    font-size: 58px;
    height: 15vh;
    width: 16vh;
    padding-top: 5%;
}

.contenedor-portafolio{
	@include contenedor-segundas-lineas();
	@include titulos();
}

.contenedor-contacto{
	@include titulos();
	@include contenedor-segundas-lineas();
	@include  solo-color();
	background-color: $b_color_nav;
	.contenedor-disponible{
		margin-top: -30px;
	}
	h4{
		color: $color_secundario;
	}
	.mi-row{
		margin-bottom: 0;
	}
	i{
		color: $color_secundario;
		padding: 0 20px;
		font-size: 40px;
	}
	.btn-mio{
		border-radius: 7px;
		font-size: 25px;
		font-weight: 700;
		color: $b_color_nav;
		background-color: $color_secundario;
	}
	h5{
		font-family: 'PT Sans', sans-serif;
		font-size: 22px;
		font-weight: 700;
	}
	h6{
		font-family: 'PT Sans', sans-serif;
		font-size: 20px;
		font-weight: 700;
	}
}

/*500 medio minuto fadein("slow") fadeout */










