*{
	margin: 0;
	padding: 0;
}

nav{
	background-color: $background-color_nav;
	font-family: $tipo_letra_nav;
	a:hover{
		color: $hover_nav;
	}
}

.contenedor-principal{
	@include contenedor-principal();
	.contenedor-texto-foto-perfil{
		margin-top: 13%;
		.foto-perfil{
			border: 4px solid $color_texto_border;
			width: 68%;
    		height: 35vh;
		}
		h4{
			font-weight: 700;
			font-size: 20px;
		}
	}
}

.contenedor-dos{
	background-color: whitesmoke;
	color: $background-color_nav;
	.herramientas{
		padding: 25px 105px;
	}
}

