$background-color_nav: rgba(166, 92, 59, 0.73); 
$background_seccion_2: rgba(181, 185, 161, 0.48);
$background_seccion_3: #B4BEBF;
$grosor_letra: 500;
$tipo_letra_nav: 'Montserrat', sans-serif;
$hover_nav:  #BCE4F2;
$width-img: 55%;
$color_texto_border: #e5ebe9;
$color_principal: #603A32;
$color_h4: #a64936;
$grosor_descripcion: 700;

